<link rel="stylesheet" href="/stylesheets/info/info.css">

<div class="row" style="margin-top: 50px;">

  <div class="col s10 offset-s1">
    <div class="col s8 offset-s2">
      <div class="input-field col s3">
        <input placeholder="輸入姓名" id="searchName" type="text" class="validate">
      </div>
      <div class="input-field col s3">
        <input placeholder="輸入系別" id="searchMajor" type="text" class="validate">
      </div>
      <div class="input-field col s3">
        <input placeholder="輸入級別" id="searchGrade" type="text" class="validate">
      </div>
      <div class="input-field col s3">
        <input placeholder="輸入性別" id="searchGender" type="text" class="validate">
      </div>
    </div>
    <table class="bordered">
      <thead>
        <tr >
          <th class="center" style="width: 6%;">姓名</th>
          <th class="center" style="width: 10%;">學號</th>
          <th class="center" style="width: 4%;">性別</th>
          <th class="center" style="width: 10%;">手機</th>
          <th class="center" style="width: 10%;">生日</th>
          <th class="center" style="width: 6%;">系級</th>
          <th class="center" style="width: 18%;">信箱</th>
          <th class="center" style="width: 10%;">身分證字號</th>
          <th class="center" style="width: 20%;">住址</th>
          <th class="center" style="width: 6%;">受益人</th>
        </tr>
      </thead>
      <tbody>
        {{#each members}}
        <tr>
          <td class="center"><p>{{this.info.name}}</p></td>
          <td class="center"><p>{{this.info.studentId}}</p></td>
          <td class="center"><p>{{this.info.gender}}</p></td>
          <td class="center"><p>{{this.info.phone}}</p></td>
          <td class="center"><p>{{this.info.birthday}}</p></td>
          <td class="center"><p>{{this.info.major}}{{this.info.grade}}</p></td>
          <td class="center"><p>{{this.info.email}}</p></td>
          <td class="center"><p>{{this.info.personalId}}</p></td>
          <td class="center"><p>{{this.info.address}}</p></td>
          <td class="center"><p>{{this.info.beneficiary}}</p></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="/info/add">
      <i class="large material-icons">add</i>
    </a>
  </div>
